header{
    width: calc(100vw - 4px);
    margin: 0;
    padding: 0;
    border: black 2px solid;
    background-color: lightblue;
    display: flex;
    gap: 10px;
}

.headerButton{
    width: 300px;
    height: 40px;
    margin: 5px 5px 0 5px;
    border-left: solid blue 1px;
    border-top: solid blue 1px;
    border-right: solid blue 1px;
    border-radius: 5px 5px 0 0;
    background-color: gainsboro;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked{
    background-color: gray;
    cursor: not-allowed;
}

body {
    margin: 0;
    padding: 0;
}

#visualization-container{
    width: calc(100vw - 10px);
    height: calc(100vh - 114px);
    padding: 5px;
}

#summary-container{
    width: 95vw;
    display: flex;
    height: 100%;
}

#question-selection-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}

#LOC-container{
    width: 95vw;
    display: flex;
    height: 100%;
    flex-direction: column;
}

#LOC-panel-top{
    min-height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#LOC-panel-bottom{
    display: flex;
    flex: 1;
    height: 90%;
}

#LOC-panel-right{
    width: 30%;
    height: 95%;
}

#LOC-visualization{
    flex: 1;
    height: 91.5%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 5px 0;
    border: thin solid black;
}

#click-visualization{
    height: calc(50% - 20px);
    min-height: calc(50% - 20px);
    max-height: calc(50% - 20px);
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}

#image{
    height: 85%;
}


#breakdown-visualization{
    height: calc(50% - 20px);
    margin: 5px;
    border: 1px solid black;
}

.hidden{
    display: none!important;
}

footer{
    width: calc(100vw - 4px);
    height: 50px;
    margin: 0;
    border: black 2px solid;
    background-color: lightblue;
}

.no-padding-no-margin{
    margin: 0;
    padding: 0;
}